div.postBody {
	display: flex;
	justify-content: center;
	height: 300px;
}

div.postInfo {
	display: flex;
	flex-direction: column;
}

div.postImage {
	width: 400px;
	position: relative;
}

#rockets {
	position: absolute;
	width: 100%;
	object-fit: cover;
}
