div.container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-around;
	max-width: 90%;
	padding-right: 100px;
	margin-left: 1rem;
}

#header {
	display: flex;
}

.postBody {
	height: 100%;
	display: flex;
}
.postImage {
	width: 33.333%;
	position: relative;
	justify-content: flex-start;
}

.postInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	justify-self: center;
	width: 66.666%;
	margin-top: 20px;
	font-size: 1.1rem;
}
.eventCard {
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 15px;
}
.eventInfo {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
	background-color: rgb(231, 233, 235, 0.8);
	padding: 0px 2.5px;
}
p.info {
	max-width: 90%;
}

.eventName {
	margin-bottom: 0;
}

.eventType {
	align-self: flex-end;
}

.buttonContainer {
	display: flex;
	justify-content: center;
}
#likeButton {
	width: 101px;
}

#rockets {
	display: flex;
	position: absolute;
	width: 100%;
	object-fit: cover;
	object-position: center;
	align-self: start;
	justify-self: flex-start;
	height: 100%;
}

li.loginHeader {
	margin-left: 20% !important;
	border-left: none !important;
}

a.user {
	font-style: italic;
	font-weight: bold !important;
}

article.post {
	padding: 0px;
	height: 325px;
}

aside.sidepanel {
	width: 17%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 70px;
	margin-top: 4rem;
}
#launchFeed {
	width: 70%;
}

h1.feed {
	font-size: x-large;
}

h1.missionTitle {
	margin-bottom: 0;
	padding: 0, 10px;
	text-align: center;
}

h3.aside {
	text-align: center;
}

.imageContainer {
	height: 500px;
	width: 300px;
	position: relative;
	margin: 0;
}
.agencyLogo {
	background-color: rgba(46, 44, 44, 0.567);
}

@media screen and (max-width: 980px) {
	div.container {
		width: 90%;
		display: flex;
		justify-items: center;
		padding: 0;
		margin: 0, 50px;
	}
	div.row {
		width: 100%;
	}
	li.continue {
		width: 66% !important;
		margin: auto;
	}
	aside.sidepanel {
		display: none;
	}
	.info {
		display: flex;
		align-items: center;
		text-align: center;
	}
	article.post {
		max-height: 200px;
	}
	.postInfo {
		margin-top: 20px;
		font-size: smaller;
	}
}
